/node_modules
/public/hot
# /public/storage/*
# !/public/storage/backend/
# !/public/storage/frontend/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.log
/.idea
/.vscode
/public/storage_backup

# Abaikan semua file PDF
*.pdf

# Abaikan semua file log
*.log

# Abaikan semua file ZIP
*.zip
